.jumbotron {
	 color:black;
	 margin-top:40px;
	 background-image:url(../Images/banner.jpg);
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 background-size:cover;
}

.footer {
	padding:10px 10px 10px;
	margin-bottom:0px;
	margin-top:20px;
}

.card-hotel {
	margin-top:10px;
	flex:1 250px;
}

.btn-reserva {
	width:100%;
	border-radius:0px;
}

.footer-address-icon {
	padding-right:10px;
}

.button-address-icon {
	padding-right:10px;
}
	