.jumbotron {
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url(../Images/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #ad1818;
  margin-top: 30px;
  margin-bottom: 0px; }

.card-hotel {
  margin-top: 30px;
  margin-bottom: 0px;
  flex: 1 250px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.button-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10 px; }
