@yellow: #fffa19;
@red:#cc0000;
@green:#53c653;

.margenes(@top: 0px, @bottom: 0px){
   margin-top: @top;
   margin-bottom: @bottom;
}

.jumbotron {
  color: @green;
  .margenes(10px, 0 px);
  background-color: @yellow; 
  }

.footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  .margenes(30px, 0px); 
  }
  
.card-hotel {
  .margenes(30px, 0px);
  flex: 1 250px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.button-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10 px; }
