$yellow:#d6d459;
$red:#ad1818;
$green:#53c653;

@mixin margenes($top, $bottom){
     margin-top: $top;
	 margin-bottom: $bottom;
}

.jumbotron {
	 color:black;
	 @include margenes(10px, 20px);
	 background-image:url(../Images/banner.jpg);
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 background-size:cover;

}

.footer {
    padding:10px 10px 0 10px;
	background-color: $red;
	@include margenes(30px, 0px);
}

.card-hotel {
	@include margenes(30px, 0px);
	flex: 1 250px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.button-address-icon {
	padding-right: 10px;
}

.tab-content {
    padding-top: 10 px;
}