.jumbotron {
  color: #53c653;
  margin-top: 10px;
  margin-bottom: 0 px;
  background-color: #fffa19;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #cc0000;
  margin-top: 30px;
  margin-bottom: 0px;
}
.card-hotel {
  margin-top: 30px;
  margin-bottom: 0px;
  flex: 1 250px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.button-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10 px;
}
